@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");
.logos img {
  float: left;
}

.logos h3 {
  position: relative;
  left: 3px;
}
.embed-responsive-10by3 {
   padding-top: 80%;
}
